.pnl_btm {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 19px calc(100% - 19px);
  gap: 0px 0px;
  max-height: 100%;
  grid-template-areas:
    "line"
    "needs";

  .line {
    grid-area: line;
    background: linear-gradient($clr1, $clr1) no-repeat center/1px 100%;
  }

  .needs {
    grid-area: needs;

    .needs_cont {
      border: 1px solid $clr1;
      border-radius: 10px;
      padding: 8px 4px 4px 8px;
      background: rgba(119, 113, 106, 0.04);
      height: auto;
      max-height: 100%;
      overflow: hidden;

      .inner_content {
        height: 100%;
        overflow-y: auto;
        padding-right: 2px;

        .listcards {
          width: 100%;
          height: auto;
          padding-right: 1px;
        }

        ::-webkit-scrollbar {
          background-color: $clr2;
          height: 4px;
          width: 4px;
          border-radius: 2px;
        }

        ::-webkit-scrollbar-track {
          background-color: $clr2;
          border-radius: 4px;
        }

        ::-webkit-scrollbar-thumb {
          background-color: $clr1;
          border-radius: 4px;
        }

        ::-webkit-scrollbar-button {
          display: none;
        }
      }
    }
  }
}
